/* Global */
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {

    /* Colors */
    --clr-primary: #c69963;
    --clr-primary-dark: #b28451;

    --clr-secondary: #101d2c;

    --clr-light-100: #f9f7f6;
    --clr-light-200: #aaa;

    --clr-dark-100: #54483a;
    --clr-dark-200: #6d5d4b;

    /* Fonts */
    --font-primary: 'Nunito', sans-serif;
    --font-display: 'Josefin Sans', sans-serif;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;       /* 1 rem = 10px */
}

body {
    font-family: var(--font-primary);
    color: var(--clr-dark-200);
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

/* Typography */
h1, h2, h3, h4 {
    font-family: var(--font-display);
    font-weight: 400;
}

.heading-1 {
    
}

.heading-2 {
    
}

.heading-3 {
    
}

.heading-4 {
    font-size: 1.9rem;
}

.light {
    color: var(--clr-light-100);
}

.dark {
    color: var(--clr-dark-100);
}

/* Sidebar */
.sidebar {
    background-color: var(--clr-primary);

    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
}

/* Header */
.header {
    background-color: var(--clr-dark-100);

    grid-column: full-start / col-end 6;
}

/* Realtors */
.realtors {
    background-color: var(--clr-secondary);

    grid-column: col-start 7 / full-end;
}

/* Features */
.features {
    margin: 15rem 0;

    grid-column: center-start / center-end;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: start;
    gap: 6rem;
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 1.5rem;
    column-gap: 2.5rem;
}

.feature__icon {
    fill: var(--clr-primary);
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
}

.feature__text {
    font-size: 1.7rem;
}

/* Story */
.story__pictures {
    background-color: var(--clr-primary);

    grid-column: full-start / col-end 4;
}

.story__content {
    background-color: var(--clr-light-100);

    grid-column: col-start 5 / full-end;
}

/* Homes */
.homes {
    background-color: var(--clr-secondary);

    grid-column: center-start / center-end;
}

/* Gallery */
.gallery {
    background-color: var(--clr-dark-100);

    grid-column: full-start / full-end;
}

/* Footer */
.footer {
    background-color: var(--clr-secondary);

    grid-column: full-start / full-end;
}